.changePassword {
  padding: 0 3rem;
  min-height: calc(100vh - 165px);
  display: inline;
  align-items: center;
}
.changeText {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #563f2e;
  padding: 0 0 20px;
}
.changeBtn {
  text-align: center;
}

.change-form-button,
.change-form-button:active,
.change-form-button:focus {
  margin: 1rem 0;
  border: none;
  color: #fff;
  background: #211e55;
  font-size: 14px;
}
.change-form-button:hover {
  background: #d7b98e;
}
