.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 165px);
}

.formInline {
  margin: 1rem auto;
  // padding: 0 4rem 0 0;
}
.submitRow {
  text-align: center;
  .ant-col-md-16 {
    max-width: 100%;
  }
}
.submitBtn,
.submitBtn:active,
.submitBtn:focus {
  border: none;
  color: #fff;
  background: #211e55;
  font-size: 16px;
}
.submitBtn:hover {
  background: #d7b98e;
}

@media screen and (max-width: 580px) {
  .formInline {
    padding: 0;
  }
}
