.tabList {
  min-width: 130px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.ant-tabs-tab {
  color: #563f2e;
}
.ant-tabs-tab:hover {
  color: #d7b98e;
  transition: 0.5s;
}

.start {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
.uploadBtn,
.uploadBtn:active,
.uploadBtn:focus {
  margin: 1rem 0;
  border: none;
  color: #fff;
  background: #211e55;
  font-size: 14px;
}
.uploadBtn:hover {
  background: #d7b98e;
}
