.index {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 165px);
}
.indexInner {
  align-items: flex-start;
}
.left {
  font-size: 16px;
  padding: 0 1rem;
}
.right {
  padding: 0 3rem;

  .logo {
    text-align: center;
    padding: 2rem 0;
  }
  img {
    width: 120px;
  }
}

.login-form-button,
.login-form-button:active,
.login-form-button:focus {
  border: none;
  color: #fff;
  background: #211e55;
  font-size: 16px;
}
.login-form-button:hover {
  background: #d7b98e;
}

a:hover {
  color: #211e55;
}
.login {
  text-align: center;
}
