.header {
  padding: 0px 4rem;
  background-color: #563f2e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
  box-shadow: 3px 3px 5px #0000007d;

  .logo {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    padding: 0 1rem;
    cursor: pointer;
  }

  .navbar {
    font-size: 2rem;
    float: right;
  }

  .navbar,
  .navbarItem {
    background-color: #563f2e !important;
    font-size: 16px;
    font-weight: 600;
  }

  .navbarItem:hover,
  .logout:hover {
    background-color: #d7b98e !important;
    color: #fff;
    text-shadow: 2px 2px 5px #563f2e;
    transition: 0.5s;
  }

  .logout {
    border: 2px solid #d7b98e !important;
    color: rgba(255, 255, 255, 0.65);
    background: none;
    margin: 0 1rem;
    font-size: 16px;
    font-weight: 600;
  }
}
