.forgot {
  padding: 0 3rem;
  min-height: calc(100vh - 165px);
  display: inline;
  align-items: center;
}

.logo {
  text-align: center;
  padding: 2rem 0;
}
img {
  width: 120px;
}

.forgotText {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #563f2e;
  padding: 0 0 20px;
}
.forgotBtn {
  text-align: center;
}

.forgot-form-button,
.forgot-form-button:active,
.forgot-form-button:focus {
  margin: 1rem 0;
  border: none;
  color: #fff;
  background: #211e55;
  font-size: 14px;
}
.forgot-form-button:hover {
  background: #d7b98e;
}
