.memberdata {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 165px);
}
.memberdataForm {
  .formInline {
    margin: 1rem 0;
    // padding: 0 4rem 0 0;
  }
  .submit,
  .submit:active,
  .submit:focus {
    border: none;
    color: #fff;
    background: #211e55;
    font-size: 16px;
  }
  .submit:hover {
    background: #d7b98e;
  }
}

@media screen and (max-width: 580px) {
  .memberdataForm .formInline {
    padding: 0;
  }
}
