.global-layout {
  min-height: 100vh;

  .content {
    padding: 0 4rem;
    background: #fff8da;
    padding-top: 64px;
  }

  .content-child {
    min-height: calc(100vh - 117px);
    padding: 24px;
    background-color: #fff;
  }

  .footer {
    text-align: center;
    background-color: #d7b98e;
    color: #563f2e;
    font-size: 16px;
    line-height: 5px;
  }
}
